.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.btn{    padding: 3px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid #00000030;
    border-radius: 4px;
    cursor: pointer;}

    .btn1{  position: relative;
        left: 1397px;
        bottom: 25px;
        
        font-size: large;
        color: white;
        background-color: var(--main-bg-color);
        border: 2px solid #00000030;
        border-radius: 4px;
        cursor: pointer;}

        .btn1a{  position: relative;
            left: 1397px;
            bottom: 25px;
            
            font-size: large;
            color: white;
            background-color: var(--main-bg-color);
            border: 2px solid #00000030;
            border-radius: 4px;
            cursor: pointer;}